.button {
    background-color: $yellow;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    max-width: 180px; 
    color: #FFFFFF;
    display: inline-block;
    padding: 14px 39px;
    transition: all 0.2s ease; 
}

.button:hover {
    color: $yellow;
    background: #fff;
    box-shadow: 0 0 0 3px $yellow inset;

}