html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin-top: 77px;
}

img {
    vertical-align: middle;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
p{
    margin: 0;
}
a {
    text-decoration: none;

}