.adv {

    height: 200px;
    &__container {
    }

    &__wrapper {
    }

    &__left {
    }

    &__right {
    }
}
.container {
}
.adv-list {

    &__item {
    }
}
.button {
}
.hero {

    &__img {
    }
}
