.app {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-color: #495567;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 102px;
        padding-bottom: 102px;
    }

    &__heading {
        max-width: 415px;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #FFFFFF;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 18px;
    }
}

.appstore {
    background: #E5ECF4;
    border-radius: 4px;
    padding: 8px 16px;
    padding-left: 52px;
    background-image: url("./../images/appstore.svg");
    background-repeat: no-repeat;
    background-position: calc(0% + 16px) center;

    &__text {
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.446429px;
        color: #495567;
    }

    &__heading {


        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.892857px;
        color: #495567;
    }
}

.googleplay {

    background: #E5ECF4;
    border-radius: 4px;
    padding: 8px 16px;
    padding-left: 52px;
    background-image: url("./../images/googleplay.svg");
    background-repeat: no-repeat;
    background-position: calc(0% + 16px) center;

    &__text {
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.446429px;
        color: #495567;
    }

    &__heading {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.892857px;
        color: #495567;

    }
}