.footer { 
    background-color: #333A44; 
    position: sticky;
    left: 0;    
    right: 0;
    top: 100%;
    bottom: 0;
    z-index: 99;

    &__container {
        padding-top: 32px;
        padding-bottom: 35px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &-logo{
        margin-right: 28px;
    }
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 250px;
    width: 100%;

    &__list { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 32px;

        &__item__link {
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
}

.footer-link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 24px;

    &__item {
    }
}
