.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;

    &__container { 
        max-height: 96px;
        height: 103px;
        padding-top: 22px;
        padding-bottom: 21px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 250px;
    width: 100%;

    &__list {
        margin-left: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 32px;

        &__item__link {
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
}



.nav-mobile {
    padding: 64px 32px 24px 32px;
    transition: all 1s ease;
    background: transparent;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70vw;
    height: calc(100vh - 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333A44;
    box-shadow: 0 5000px 0 5000px rgb(0 0 0 / 75%);
    mix-blend-mode: normal;     
    display: none;

    transition: all 0.5s ease;

    .mobile-btn {
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__item__link {
            font-family: 'Space Mono';
            font-size: 18px;
            line-height: 25px;
            color: #E5ECF4;

        }
    }
}

.menu-checkbox {
    display: none !important;
}