@media only screen and (max-width:1100px) {
    .step__conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .step-list {
        display: flex;
        justify-content: right;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        &__item {
            max-width: 573px;
        }

        &__item__wrapper {
            padding-left: 100px;
        }

        &__item__wrapper::after {
            position: absolute;
            left: calc(50% - 560px);
            transform: rotate(90deg) translate(-50%, -50%);
        }

        &__item__wrapper::before {
            position: absolute;
            left: calc(50% - 360px);
        }

        .step1::before {
            background-image: url("./../../images/li-1.svg");
        }

        .step2::before {
            background-image: url("./../../images/li-2.svg");
        }

        .step3::before {
            background-image: url("./../../images/li-3.svg");
        }



    }


}

@media only screen and (max-width:950px) {
    .telemetry {
        &-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            gap: 150px;

            &__item {
                max-width: 573px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }

        }

        &__left {
            order: 1;
            max-width: 573px;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
        }

        &__right {
            max-width: 573px;
            margin-right: 0;
            margin-bottom: 56px;

            &__wrapper {
                border-radius: 50%;
                margin-right: auto;
                margin-left: auto;
                position: relative;
                display: flex;
                justify-content: center;
                box-shadow: none;

                &__img {
                    position: absolute;
                    align-self: center;
                    height: 445px;
                    border-radius: 50%;
                }

                &::before:first-of-type {
                    top: 0;
                }
            }

            &__item:nth-child(2n) .telemetry__right__wrapper {

                box-shadow: -514px 0 0 0 #E5ECF4;
            }

            &__item:nth-child(2n + 1) .telemetry__right__wrapper {

                box-shadow: 514px 0 0 0 #E5ECF4;
            }

            &__wrapper::before {
                top: 30%;
                left: calc(100% - 100px);
            }
        }
    }

}

@media only screen and (max-width:768px) {


    .telemetry {
        &-list {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            &__item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }

        &__right {
            max-width: 573px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 56px;

            &__wrapper {
                border-radius: 50%;
                width: 445px;
                position: relative;
                display: flex;
                justify-content: center;
                box-shadow: none;

                &__img {
                    position: absolute;
                    align-self: center;
                    height: 445px;
                    border-radius: 50%;
                }


            }
        }
    }
}

@media only screen and (max-width:820px) {

    .app {
        background-color: #495567;

        &__container {
            gap: 40px;
            justify-content: center;
            flex-direction: column;
        }

        &__heading {
            font-size: 48px;
            line-height: 48px;
            text-align: center;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 12px;
        }
    }

}

@media only screen and (max-width:768px) {

    .hero__text::after,
    .hero__text::before {
        display: none;
    }

    .hero__wrapper {
        padding-bottom: 300px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 137px;
    }

    .hero__inner__wrapper {
        margin-left: 0;
    }


    .hero__wrapper::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 80%;
        left: calc(50% - 510px);
        width: 450px;
        height: 150px;
        background: url("./../../images/hero-arrow.svg") no-repeat;
    }


    .step-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        &__item {
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 311px;
            width: 100%;
            margin-bottom: 48px;
            padding-top: 80px;

            &__heading {
                font-size: 20px;
                line-height: 28px;

            }
        }

        &__item__wrapper {
            padding: 0;

            justify-content: center;
            align-items: center;
        }

        &__item__wrapper::after {
            @include none;
        }

        &__item__wrapper::before {
            width: 56px;
            height: 56px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-size: 50%;
        }
    }
}

@media only screen and (max-width:700px) {

    .nav,
    .header-btn {
        display: none;
    }

    .label {
        display: inline-block;
    }

    .burger {
        display: inline-block;
        position: absolute;
        top: 50%;
        width: 18px;
        height: 18px;
        background-image: url("./../images/nav-burger.svg");
        background-repeat: no-repeat;
        transform: translateY(-50%);
        left: 5%;

    }

    .menu-checkbox:checked~.nav-mobile {
        display: flex;
    }

    .menu-checkbox:checked~.burger {
        background-image: url("./../images/cross.svg");
    }



    .header__container {
        justify-content: center;
    }



}

@media only screen and (max-width:600px) {

    .footer {

        &__container {
            padding-top: 64px;
            padding-bottom: 88px;
            flex-direction: column;
            align-items: center;
        }

        &-logo {
            margin-right: 0;
            margin-bottom: 41px;
        }
    }

    .nav-footer {
        align-items: center;
        flex-direction: column;

        &__list {
            flex-direction: column;
            gap: 16px;
            margin-bottom: 85px;

        }
    }

    .footer-link-list {
        max-width: 120px;
    }


}

@media only screen and (max-width:500px) {

    .telemetry__left {
        max-width: 445px;

        &__heading {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 32px;
        }

        &-text {
            margin-bottom: 32px;
        }
    }

    .telemetry__right__wrapper {
        max-height: 311px;
        max-width: 311px;
        height: 311px;
        width: 100%;

        &::before {
            width: 398px;
            height: 75px;
        }

        &__item:nth-child(2n) .telemetry__right__wrapper::before {
            width: 398px;
            height: auto;
            top: 0;
            left: calc(0% - 500px);
        }

        &__img {
            height: auto;
            max-width: 311px;
            width: 100%;
        }

        &__item:nth-child(2n) .telemetry__right__wrapper {

            box-shadow: -311px 0 0 0 #E5ECF4;
        }

        &__item:nth-child(2n + 1) .telemetry__right__wrapper {

            box-shadow: 311px 0 0 0 #E5ECF4;
        }
    }
}

@media only screen and (max-width:460px) {

    .app {



        &__heading {
            font-size: 32px;
            line-height: 32px;
            max-width: 290px;
        }

        .appstore {
            max-width: 130px;
            max-height: 40px;

            &__text {

                font-size: 8px;
                line-height: 10px;
            }

            &__heading {
                max-width: 415px;
                font-size: 13px;
                line-height: 13px;
            }
        }

        .googleplay {
            max-width: 130px;
            max-height: 40px;

            &__text {

                font-size: 8px;
                line-height: 10px;
            }

            &__heading {
                max-width: 415px;
                font-size: 13px;
                line-height: 13px;
            }
        }
    }
}

@media only screen and (max-width:430px) {
    .hero__heading {
        font-size: 40px;
        line-height: 40px;
    }

    .hero__container {

        background-image: url("./../../images/hero-mobile.jpg");
    }



    .telemetry__right__wrapper::before {
        top: 0;
        left: calc(100% - 100px);
    }


}

@media only screen and (max-width:333px) {
    .button {
        font-size: 15px;
        line-height: 25px;
    }

    .app__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .hero__container {
        background-image: url("./../images/hero-bg@2x.jpg");
    }
}